body {
}
#navbar {
    background-color:#003366;
    font-family: 'Oswald', sans-serif;
}
#text a {
    color:white;
}
a#logo.navbar-brand {
    color:white;
}
a#navvy.navbar.navbar-default {
    font-family: 'Oswald', sans-serif;
    text-decoration:solid
}
#navvy.navbar.navbar-default {
    margin: 0px;
    padding: 0px;
}
/*HEADER STYLE*/
#santanna {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size:cover;
    padding:0px;
    padding-bottom:300px;
    padding-left:100px;
    margin-left:0px;
    height: 422px;
}
#map {
    background-image: url('Images/Versilia.jpg');
    background-size:cover;
    padding:0px;
    padding-bottom:300px;
    margin-right:0px;
    padding-right:0px;
    width:336px;
    height:422px;
}
#sayingOne {
    text-align:center;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
#sayingTwo {
    text-align:center;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*HEADER TWO STYLING*/
#locations {
    background-color:#003366;
    text-align:center;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*LOCATION ONE STYLE*/
#mountain {
    float: right;
    padding-top:50px;
    width:500px;
    height:400px;
    padding-bottom:50px;
    padding-right:50px;
    margin-left:20px;
}
#descriptionOne {
    padding-right:10px;
    padding-left:50px;
    margin-right:50px;
    font-family: 'PT Sans', sans-serif;
    color:#003366;
}
#placeOne {
    padding-top:50px;
    padding-left:50px;
    color:#003366;
}
#buttonOne {
    background-color:#003366;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*LOCATION TWO STYLINGS*/
#modernVilla {
    float: left;
    padding-top:50px;
    width:500px;
    height:400px;
    padding-bottom:50px;
    padding-right:50px;
    margin-left:20px;
}
#descriptionTwo {
    padding-right:10px;
    padding-left:50px;
    margin-right:50px;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
#placeTwo {
    padding-top:50px;
    padding-left:50px;
    color:white;
}
.locationTwo {
   background-color:#003366;
}
#buttonTwo {
    color:#003366;
}
/*LOCATION THREE STYLING*/
#grapeField {
    float: right;
    padding-top:50px;
    width:500px;
    height:400px;
    padding-bottom:50px;
    padding-right:50px;
    margin-left:20px;
}
#descriptionThree {
    padding-right:10px;
    padding-left:50px;
    margin-right:50px;
    font-family: 'PT Sans', sans-serif;
    color:#003366;
}
#placeThree {
    padding-top:50px;
    padding-left:50px;
    color:#003366;
}
#buttonThree {
    background-color:#003366;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*THIRD HEADER STYLING*/
#ammenities {
    background-color:#003366;
    text-align:center;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*THUMBNAIL STYLINGS*/
.preview {
    margin:auto;
}
#about {
    text-align:center;
    color:#003366;
}
/*SECOND THUMBNAIL STYLING*/
#bedding {
    padding-left:0px;
    margin-left:0px;
    border:none;
}
/*FOURTH HEADER STYLING*/
#reviews {
    background-color:#003366;
    text-align:center;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*CAROUSEL STYLING*/
.carousel-inner {
    margin: auto;
    text-align: center;
    color: #003366;
}
/*STYLING FIFTH HEADER*/
#contact {
    background-color:#003366;
    text-align:center;
    color:white;
    font-family: 'PT Sans', sans-serif;
}
/*CONTACT STYLING*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 8px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    /*box-sizing: border-box;*/ /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    text-align:right;
    border-radius: 5px;
    padding: 20px;
}
#contactForm {
    text-align:left
}
#location {
    text-align:left;
}
#phone {
    text-align:left
}
#envelope {
    text-align:left;
}
#userInput {
    margin-top:-170px;
}